.theme-imagenio {

  .dataTables_paginate > a {
    color: #7b7b7b;
    transition: all 0.7s;
  }

  table.dataTable th:before {
    color: #ecc0d1;
    transition: all 0.7s;
  }

  .dataTables_paginate > a:hover {
    color: #c8005a;
    opacity: 0.7;
  }

  // Highlight

  tbody tr:hover {
    background-color: #FFFF44;
  }

}
