.lt-vapp {

  .lt-date-picker-presets {
    display:inline-block;

    margin: 0;
    padding: 0;
    border: 0;

    .lt-choice-picker-field {
      display:inline;
    }

    .lt-date-time-picker-range-field {
      padding-left: 15px;
    }
  }
  
}